body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(#ddd, #aaa);
}

.time-btn {
  width: 40px;
  height: 40px;
}

#clock {
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes slide-in {
  0% {
    padding: 50px;
    background-color: rgb(46, 56, 45);
  }
}
